DESCRIPTION: Run population estimations of a country based on various assumptions.

# Demographics

In [3]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import numpy as np
import pandas as pd
import matplotlib as plt

pd.set_option("display.max.columns", None)
pd.set_option("display.precision", 2)

In [22]:
'''
Columns:
  NAME: The name of the country
  GENC: Geography, the country abbreviation
  POP: The population
  SEX:
    0 = Both genders
    1 = Male
    2 = Female

  
'''
url = "https://api.census.gov/data/timeseries/idb/1year?get=NAME,GENC,POP&YR=2023,2024&AGE=0:100&SEX=0,1,2"
df = pd.read_json(url)
df

                           0     1    2     3    4    5
0                       NAME  GENC  POP    YR  AGE  SEX
1                    Andorra    AD  586  2023    0    0
2                    Andorra    AD  302  2023    0    1
3                    Andorra    AD  284  2023    0    2
4                    Andorra    AD  588  2023    1    0
...                      ...   ...  ...   ...  ...  ...
137558  United Arab Emirates    AE    7  2024   99    1
137559  United Arab Emirates    AE   11  2024   99    2
137560  United Arab Emirates    AE   34  2024  100    0
137561  United Arab Emirates    AE   15  2024  100    1
137562  United Arab Emirates    AE   19  2024  100    2

[137563 rows x 6 columns]

In [26]:
# Rename the columns
df = df.rename(columns={0: 'Country', 1: 'Abbr', 2: 'Population', 3: 'Year', 4: 'Age', 5: 'Sex'})

# Drop the first row
df = df.iloc[1:, :]
df

                     Country Abbr Population  Year  Age Sex
2                    Andorra   AD        302  2023    0   1
3                    Andorra   AD        284  2023    0   2
4                    Andorra   AD        588  2023    1   0
5                    Andorra   AD        303  2023    1   1
6                    Andorra   AD        285  2023    1   2
...                      ...  ...        ...   ...  ...  ..
137558  United Arab Emirates   AE          7  2024   99   1
137559  United Arab Emirates   AE         11  2024   99   2
137560  United Arab Emirates   AE         34  2024  100   0
137561  United Arab Emirates   AE         15  2024  100   1
137562  United Arab Emirates   AE         19  2024  100   2

[137561 rows x 6 columns]

In [30]:
# Filter rows for a specific country
c = df[(df['Abbr'] == 'CN') & (df['Year'] == '2023')]

# Add a calculated row
c['Males'] = c.Age
c

C:\Users\rob\AppData\Local\Temp\ipykernel_17924\2312754027.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['Males'] = c.Age

      Country Abbr Population  Year  Age Sex Males
12424   China   CN   13760508  2023    0   0     0
12425   China   CN    7194194  2023    0   1     0
12426   China   CN    6566314  2023    0   2     0
12427   China   CN   14379462  2023    1   0     1
12428   China   CN    7540282  2023    1   1     1
...       ...  ...        ...   ...  ...  ..   ...
12722   China   CN      15484  2023   99   1    99
12723   China   CN      44974  2023   99   2    99
12724   China   CN      87422  2023  100   0   100
12725   China   CN      20664  2023  100   1   100
12726   China   CN      66758  2023  100   2   100

[303 rows x 7 columns]